extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 #{profile.name}

        //- Feel free personalize the title below
        p.lead.text-light #{profile.title}

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p Hello there, I'm Biljana. Currently I'm a freelance front end developer. I worked until recently as an IT consultant for a cloud computing platform
            |  but I realized that the job is not leading me to a place I've envisioned for myself.
            |  That's why I resigned and decided to drive my career to a full time web developer. Starting the Techdegree program on Treehouse
            |  gave me the opportunity to gain the right skills and knowledge to be able to reach my goal.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
          ul
            each skill in profile.skills
              li= skill

        h6 Contact Info
          ul
            each contact in profile.contact
              li= contact

        each profileLink, linkTitle in profile.profileLinks
            a.button.expanded(href= profileLink target= "_blank")= linkTitle


  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
